#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.logo {
  z-index: 12;
  color: rgba(255, 255, 255, 0.913);
  position: fixed;
  top: 1vw;
  left: 1vw;
  font-size: 6vh;
  font-family: 'Cinzel Decorative', cursive;
}

#myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.app {
  height: 100%;
  background-color: rgba(37, 161, 237, 0.267);

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: rgba(255, 255, 255, 0.475);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 43%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  color: #032c36;
}

.heading {
  display: flex;
  align-items: center;
  height: 582px;
  font-size: 4.6vh;
  font-family: 'Poppins', sans-serif;
}

.button {
  font-family: 'Poppins', sans-serif;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 200px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 2px solid rgb(3 48 70 / 29%);

  background-color: rgba(182, 227, 236, 0.32);
}

.button span {
  color: #023a47;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.button:hover {
  animation: rotate 0.7s ease-in-out both;
}

.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
  .heading {
    font-size: 17px;
  }
  .button span {
    height: 17px;
    /* width: 18px; */
    font-size: 13px;
  }
  .button {
    height: 111px;
    width: 172px;
    margin-bottom: 10px;
  }
}
